.grid-container{
    display: grid;
    width: 100vw;
    height:100%;
    
    grid-auto-columns: minmax(auto,200px) auto; 
    grid-template-areas:
                "header header"
                "sideBar contents"
                "footerBtn footerBtn"
                "footer-container footer-container";
    grid-gap: 4.5rem 0;
    gap: 4.5rem 0;
}
.grid-item{
    background-color: #9999;
    color: white;
}
.header{ 
    grid-area: header;
    width: 100vw;
    height: 60px;   
    position: fixed;
    z-index: 100;
}   
.sideBar{ 
    grid-area: sideBar; 
    position: absolute;
    top: 4rem;
    height: 170vh;
    z-index: 3;
    transition: 1s;
 }

.footer-container{
    position: fixed;
    bottom: -15rem;
    width: 100%;
    height: 12rem;
    padding: 1.5rem;
    border-radius: 20px;
    border: none;

    z-index: 3;
    transition: 1s;
}

.pullUp{
    bottom: 0;
}

.footerBtn{ 
    grid-area: footer;
    position: fixed;
    bottom: -2.6rem;
    left: calc(50% - 2rem);
    height: 5rem;
    width: 5rem;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid red;

    transform: rotate(45deg);
    
    z-index: 3;
    border: none;

    transition: 1s;
 }

 .pullDown{
    bottom: -10rem;
}

.floated{
     bottom: 12rem;
}

@media(max-width:281px){
    .sideBar{
        width: 6rem;
        height: 100vh;
    }
}
@media(min-width:281px) and (max-width:340px){
    .sideBar{
        width: 7rem;
    }
}

@media(min-width:340px) and (max-width:361px){
    .sideBar{
        width: 8rem;
    }
}

@media(min-width:361px) and (max-width:450px){
    .sideBar{
        width: 9rem;
    }
}

@media(min-width:500px) and (max-width:1024px){
    .sideBar{
        width: 11.5rem;
        }
}
@media(min-width:1024px){
    .sideBar{
        width: 12rem;
        }
}
.contents{ grid-area: contents;
    height: 130vh;
    width: 100vw;
    margin-bottom: 6.5rem;
    z-index: 2;
      }
.hideSideBar{
    width: 0rem;
    transition: 0.5s;
}
.hideSideBar ul{
    position: absolute;
    left: -1000px;
}

.wideMode{
    grid-gap: 4.5rem 0rem;
    gap: 4.5rem 0rem;
}