<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CREATE - BKKSG</title>
        <!-- Make sure the path to CKEditor is correct. -->
        <script src="//cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
     </head>
     <body>
          <!-- <input type="file" accept="image/jpg,image/jpeg,image/png" name ="avatar"  multiple required><br> -->
          <!-- enctype="multipart/form-data" -->
          <form method="POST" action='/admin/create_process'>
               <!-- 작가 -->
               Author : 
               <select name = 'author' class="author">
                    <option value=''> SELECT </option> 
                    <% for (var i = 0; i <profiles.length; i++) { %>
                         <option class = 'optionList' value = <%=profiles[i].id %>><%= profiles[i].nickname %></option>
                         <% } %>
                    </select>
                    <!-- 장르 -->
                    Type :  
                    <select name = 'type' class="type">
                         <option value=''> SELECT </option> 
                         <% for (var i = 0; i <types.length; i++) { %>
                              <option class = 'optionList' value = <%=types[i].id %>><%= types[i].topic %></option>
                              <% } %>
                         </select><br>
                         <!-- 제목 -->
                         Title :
                         <input type="text" name="title"
                         placeholder="title" required>
                         <!-- 본문 -->
                         <p>Contents<br>
                              <textarea name="desc" id="editor1" rows="10" cols="80">
                                   This is my textarea to be replaced with CKEditor 4.
                              </textarea>
                              <script>
                                   CKEDITOR.replace( 'editor1' );
                              </script>       
                              <input type="submit">
                         </form>
                    </body>
                    </html>


               