<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>BKKSG - Preview</title>
</head>
<body>
     <h1>Preview</h1>
     <hr>
     <form method="GET" action="/admin/preview">
     <input type="hidden" name = 'tag_num' value= '1'/>
     <input type="hidden" name = 'tmp_num' value= '1'/>
     <input type="submit" value="글올림">
     </form>
     <script>
          const divElem = document.createElement('div');
          divElem.innerHTML = `<%- desc %>
          `
          document.body.appendChild(divElem);
          console.log(document.querySelectorAll('img').length);
     </script>
</body>
</html>